/* Home.css */

body {
  background-color: #000000; 
  color: #1b1919; 
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh; 
  text-align: right;
  padding: 8%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  margin-bottom: -50rem;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('./backgroundimg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 50px;
  width: 520px; 
  min-width: 320px;
  max-width: 520px;
  height: 520px;
  min-height: 320px;
}

.home-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 1rem;
  margin-top: -2rem;
}

.h1 {
  font-size: 3rem;
  color: #121111;
  text-align: right;
  margin: 0.2rem 0;

}

.static-text {
  font-size: 2rem ;
  text-align: right;
  color: #181818;
  position: relative;
  margin: 0;
}

.highlighted-name {
  font-size: 2.8rem;
  text-align: right;
  color: #c50909; 
  font-weight: bold;
  margin: 0;
}

.job-title {
  font-size: 1.8rem;
  color: #1f1e1e;
  text-align: right;
  margin: 0.5rem 0;
}

.paragraph {
  color:#000000;
  max-width: 38%;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-align: right;
}

.buttons {
  margin-top: 1.5rem;
  text-align: right;
}

.contact-btn {
  background-color: transparent; 
  color: #100f0f; 
  border: 2px solid #161616; 
  padding: 0.75rem 1.85rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
  cursor: pointer;
  border: 2px solid rgb(19, 19, 19);
  text-decoration: none;
  border-radius: 4px;
  text-align: right;
}

.contact-btn:hover {
  transform: scale(1.05);
  background-color: #673434;
  border:2px solid #101010;
  border-radius: 7px;
  color: #ebebeb; 
  text-align: right;
}

.social-icons {
  display: flex;
  margin-top: 1.5rem;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.social-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #100f0f;
  text-decoration: none;
}

.social-icon:hover {
  color: #dc2269;
}

@media all and (max-width: 980px) {
  .home-container {
    padding: 4%; 
  }

  .logo-container {
    width: 350px;
    height: 350px;
    top: 30px; 
    left: 60px;
  }

  .intro-text {
    margin-top: 2.5rem; 
  }

  .h1 {
    font-size: 2rem; 
  }

  .static-text {
    font-size: 1.8rem;
  }

  .highlighted-name {
    font-size: 1rem;
  }

  .job-title {
    font-size: 1.3rem; 
  }

  .paragraph {
    max-width: 60%; 
    font-size: 1rem;
  }

  .contact-btn {
    padding: 0.6rem 1.2rem; 
    font-size: 0.9rem;
  }

  .social-icon {
    font-size: 1.4rem;
  }
}


@media all and (max-width: 720px) {
  .home-container {
    padding: 4%; 
  }

  .logo-container {
    width: 250px;
    height: 250px;
    top: 30px; 
    left: 60px;
  }

  .intro-text {
    margin-top: 3rem; 
  }

  .h1 {
    font-size: 2rem; 
  }

  .static-text {
    font-size: 1.5rem;
  }

  .highlighted-name {
    font-size: 1.5rem; 
  }

  .job-title {
    font-size: 1rem; 
  }

  .paragraph {
    max-width: 50%; 
    font-size: 0.9rem; 
  }

  .contact-btn {
    padding: 0.5rem 1rem; 
    font-size: 0.8rem; 
  }

  .social-icon {
    font-size: 1.2rem; 
  }
}